################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KuvioCreative/bin
/KuvioCreative/obj/Debug
/.vs
/packages
